:root {
    --bg-color-light: #ffffff;
    --bg-color-dark: #121212;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
}

body.light {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

body.dark {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.sidebar {
    min-height: 100vh;
}

.theme-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--bg-color-light);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.theme-icon svg {
    width: 30px;
    height: 30px;
}

.sidebar .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

img {
    max-height: 200px;
}
/* Main Content Styles */
main {
    overflow-y: auto;
    height: 100%;
}

/* Table Styles */
.table {
    background-color: white;
}

.table-bordered th,
.table-bordered td {
    text-align: center;
    vertical-align: middle;
}

.table-dark th {
    background-color: #343a40;
    color: white;
}

/* Footer Styles */
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    padding: 10px 0;
}
