body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, #010101, #8e908e);
  color: white;
}

h1 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background: white;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background: #f0f0f0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.programming-languages {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.programming-languages li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.programming-languages img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

ol {
  padding-left: 20px;
}

section {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h1 {
  color: #343834;
}


